.alerta {
  padding: 0.75rem 1.25rem;
  text-align: center;
  color: $blanco;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: 0.75rem auto;
  width: 90%;
  max-width: 500px;
  border-radius: 0.4rem;
  background-color: lighten($rojo, 10%); 
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); 

  &.error {
    background-color: lighten($rojo, 10%);
  }

  &.exito {
    background-color: lighten($verde, 10%);
  }
}

table.propiedades {
  margin-top: 4rem;
  width: 100%;
  border-spacing: 0;

  thead {
    background-color: $verde;

    th{
      color: $blanco;
      padding: 2rem
    }
  }

  .imagen-tabla{
    width: 10rem;
  }
}

.imagen-small{
  width: 20rem;
}